.DS_Store
__pycache__/
*.py[cod]

# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/University Admission Procedure (Python)/*
!/University Admission Procedure (Python)/task/
/University Admission Procedure (Python)/task/*
!/University Admission Procedure (Python)/task/university.py
!/University Admission Procedure (Python)/task/applicants.txt